{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Most Popular Bizcuits</h3> 
    </div>
    <hr>
    {% for location in locations %}
    <div class="row">
      {% if 'username' in session %}
      <div class="col-md-1 text-center">
        <br>
        <form method="POST" action={{url_for('index')}}>
	  <button type="submit" class="glyphicon glyphicon-chevron-up upvote" name="upvote" value={{location['_id']}}></button>
	  <p class="votes">{{ get_votes( location.votes ) }}</p>
	  <button type="submit" class="glyphicon glyphicon-chevron-down downvote" name="downvote" value={{location['_id']}}></button>
	</form>
      </div>
      {% endif %}
        <div class="col-md-11">
            <h2 class="idea-title"><a href="{{ url_for('post', postid=location['_id'])}}">{{ location.name }}</a></h2>
            <p class="idea-address"><b>Address:</b> {{ location.address }}</p>
            <p class="idea-description"><b>Description:</b> {{ location.desc }}</p>
            <p class="idea-meta">Added by <b>{{ location.author }}</b> on {{ get_timestamp(location['_id']) }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
