{% extends "base.html" %}

{% block navcomponents %}
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <!--<span class="label label-default">Find</span> -->
    Find&nbsp;&nbsp;
    <input type="text" class="form-control" placeholder="Bizcuits">
    <input type="text" class="form-control" placeholder="At...">
  </div>
  <button type="submit" class="btn btn-default">Search!</button>
</form>
{% endblock navcomponents %}

<div class="container">
{% block content %}
<div class="row">
    <div class="col-md-1 text-center">
    <br>
        <a href="/"><span class="glyphicon glyphicon-chevron-up upvote"></span></a>
        <p class="votes">9000{{ location.votes }}</p>
        <a href="/"><span class="glyphicon glyphicon-chevron-down downvote"></span></a>
    </div>
    <div class="col-md-11">
        <h1 class="idea-title">{{ location.name }}</h1>
        <p class="idea-address"><b>Address: </b>{{ location.address }}</p>
        <p class="idea-description"><b>Description: </b>{{ location.description }}</p> 
        <p class="idea-meta">Posted by {{ location.author }} on {{ get_timestamp( location['_id'] ) }}</p>
        <hr>
    </div>
    
</div>
<hr>
<p><b>Comments</b></p>
{% for comment in comments %}

{% endfor %}

{% endblock %}
