{% extends "base.html" %}


<div class="container">
  {% block content %}
<div class="row">
    <div class="col-md-1 text-center">
    <br>
        <a href="#"><span class="glyphicon glyphicon-chevron-up upvote"></span></a>
        <p class="votes">9000{{ location.votes }}</p>
        <a href="#"><span class="glyphicon glyphicon-chevron-down downvote"></span></a>
    </div>
    <div class="col-md-11">
        <h1 class="idea-title">{{ location.name }}</h1>
        <p class="idea-address"><b>Address: </b>{{ location.address }}</p>
        <p class="idea-description"><b>Description: </b>{{ location.description }}</p> 
        <p class="idea-meta">Posted by {{ location.author }} on {{ get_timestamp( location['_id'] ) }}</p>
        <hr>
	<script type="text/javascript">
	  {% include  {{url_for('static', filename='js/maptest.js')}}  %}
	</script>
	<!-- need locations -->
	  <div id="googleMap" style="width:800px;height:600px;"></div>
    </div>
    
</div>
<hr>
<p><b>Comments</b></p>

<form method="POST" action="{{url_for('post', postid=location['_id'])}}">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" name="author"></input>
    <textarea class="form-control" rows="4" name="content"></textarea>
    <button type="submit" class="btn btn-default"> Say something </button>
  </div>
</form>
{% for comment in comments %}
<div class="row">

    <p><b>{{ comment.author }}</b></p>
    <p>{{ comment.content }}</p>
    <p>{{ comment.postid }}</p>
</div>
{% endfor %}

{% endblock %}
